# MongoDB connection string.
# For local dev you can use a local mongod: mongodb://127.0.0.1:27017/accenture-sim
# For Netlify deployment you MUST use MongoDB Atlas (a free M0 cluster is fine)
# since Netlify's serverless functions cannot reach a database on your laptop.
MONGODB_URI="mongodb://kirankumar:kiran365kk142422@cluste0-shard-00-00.hcios.mongodb.net:27017,cluste0-shard-00-01.hcios.mongodb.net:27017,cluste0-shard-00-02.hcios.mongodb.net:27017/leave_tracker?ssl=true&replicaSet=atlas-mrs5rc-shard-0&authSource=admin&appName=Cluste0"

